Version description for python libraries

beautifulsoup4==4.7.1

DateTime==4.3
 
ipykernel==5.1.0
ipython==7.5.0

jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter-tensorboard==0.1.10

Keras==2.2.4

numpy==1.16.3

opencv-python==4.1.0.25

pandas==0.24.2

plotly==3.8.1

pyod==0.7.2

requests==2.20.0

scikit-learn==0.20.3

scipy==1.2.1

seaborn==0.9.0

tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-hub==0.4.0
tensorflow-probability==0.6.0
tensorflow-serving-api==1.13.0

tqdm==4.32.2


